/Java/ProgramaMedia/nbproject/private/
/Java/ProgramaMedia/build/
/Java/ProgramaIdade/nbproject/private/
/Java/ProgramaIdade/build/
/Java/ProgramaParImparSwing/nbproject/private/
/Java/ProgramaParImparSwing/build/
/Java/EquacaoSegundoGrau/nbproject/private/
/Java/EquacaoSegundoGrau/build/
/Java/EquacaoSegundoGrau/dist/
/Java/VotacaoSwing/nbproject/private/
/Java/VotacaoSwing/build/
/Java/ProgramaPernas/nbproject/private/
/Java/ProgramaPernas/build/
/Java/VerificadorTriangulo/nbproject/private/
/Java/VerificadorTriangulo/build/
/Java/Contador01/nbproject/private/
/Java/Contador01/build/
/Java/Contador02/nbproject/private/
/Java/Contador02/build/
/Java/ExercicioRepita/nbproject/private/
/Java/ExercicioRepita/build/