/Java/ProgramaMedia/nbproject/private/
/Java/ProgramaMedia/build/
/Java/ProgramaIdade/nbproject/private/
/Java/ProgramaIdade/build/
/Java/ProgramaParImparSwing/nbproject/private/
/Java/ProgramaParImparSwing/build/
/Java/EquacaoSegundoGrau/nbproject/private/
/Java/EquacaoSegundoGrau/build/
/Java/EquacaoSegundoGrau/dist/