/Java/ProgramaMedia/nbproject/private/
/Java/ProgramaMedia/build/
/Java/ProgramaIdade/nbproject/private/
/Java/ProgramaIdade/build/
/Java/ProgramaParImparSwing/nbproject/private/
/Java/ProgramaParImparSwing/build/
/Java/EquacaoSegundoGrau/nbproject/private/
/Java/EquacaoSegundoGrau/build/
/Java/EquacaoSegundoGrau/dist/
/Java/VotacaoSwing/nbproject/private/
/Java/VotacaoSwing/build/
/Java/ProgramaPernas/nbproject/private/
/Java/ProgramaPernas/build/
/Java/VerificadorTriangulo/nbproject/private/
/Java/VerificadorTriangulo/build/
/Java/Contador01/nbproject/private/
/Java/Contador01/build/
/Java/Contador02/nbproject/private/
/Java/Contador02/build/
/Java/ExercicioRepita/nbproject/private/
/Java/ExercicioRepita/build/
/Java/AnagramGame/nbproject/private/
/Java/AnagramGame/build/
/Java/RepeticaoFor/nbproject/private/
/Java/RepeticaoFor/build/
/Java/Exercicio13/nbproject/private/
/Java/Exercicio13/build/
/Java/Vetor01/nbproject/private/
/Java/Vetor01/build/
/Java/Vetor02/nbproject/private/
/Java/Vetor02/build/
/Java/Vetor03/nbproject/private/
/Java/Vetor03/build/
/Java/Vetor04/nbproject/private/
/Java/Vetor04/build/
/Java/Vetor04/dist/
/Java/Vetor05/nbproject/private/
/Java/Vetor05/build/
/Java/ExercicioVetor/nbproject/private/
/Java/ExercicioVetor/build/
/Java/TesteFuncao01/nbproject/private/
/Java/TesteFuncao01/build/
/Java/TesteFuncao02/nbproject/private/
/Java/TesteFuncao02/build/
/Java/Funcao01/nbproject/private/
/Java/Funcao01/build/
/Java/Funcao02/nbproject/private/
/Java/Funcao02/build/