body{
    overflow-x: hidden;     /* define o limite de corte  // hidden: nao mostre barra de rolagem*/            
}
#wrapper                    /* esconder */
{
    padding-left: 0;
    transition: all 0.5s ease;
}
#wrapper.toggled
{
    padding-left: 250px;
}
#sidebar-wrapper
{
    z-index: 1000;      /* define a ordem das coisas que aparecem // ordem de apresentação */
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #031CA6;
    transition: all 0.5s ease;

}
#wrapper.toggled #sidebar-wrapper
{
    width: 250px;
}

#page-content-wrapper
{
    width: 100%;
    position: absolute;
    padding: 15px;

}
#wrapper.toggled #page-content-wrapper
{
    position: absolute;
    margin-right: -250px; 
}

/* Stylos */ 

.sidebar-nav
{
    list-style: none;
    width: 250px;
    position: absolute;
    top: 10px;
    margin: 0px;
    padding: 0px;
}
.sidebar-nav li
{
    line-height: 40px;
    text-indent: 25px;          /* deixAR IDENTADO */

}
.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: #bebbbb;
    font-family: 'Big Shoulders Text', cursive;

}
.sidebar-nav li a:hover{
    background: #020F59;
}
.sidebar-nav .logo {
    border-radius: 40%; 
    height: 30%; 
    width: 40%;
}