body{
    margin: 0;
    padding: 0;
    background: #829FD9;
}
.bloco
{
    width: 100%;
    background: #dddddd;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
@media screen and (max-width: 800px)                                    /* Ajustar o tamanho da tela do dispositivo    media-care:  Pesonalização do tamano da tela */
{
    .bloco{
        width: 100%;
        background: #00ffff;


    }
}
@media screen and (max-width: 320px)
{
    .bloco{
        width: 100%;
        background: #7a7eaf;    
        font-size: 20px;
        position: absolute;
        left: 80px;        
    }
}
.bg-dark{
    background: #020F59 !important;
}
.navbar-nav .nav-link {
    color: #D9D9D9 !important;
}
.active{
    font-weight: bold;
    font-style: italic;
}
.nav-link {
    font-family: 'Big Shoulders Text', cursive;

}
.nav-link:active {
    font-family: 'Big Shoulders Text', cursive;

}
.bloco1
{
    background: #F00;
    margin-top: 20px;
    width: 300px;
}
.bloco2
{
    background: #0F0;
    margin-top: 20px;
    width: 300px;
    border-radius: 20px;
}